@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    var logo = Umbraco.Media(1188);
    string logourl = logo.url;
}


    	<div id="navigation">
    	
    	<nav class="navbar navbar-default navbar-fixed-top">
  			<div class="container">
    		<!-- Brand and toggle get grouped for better mobile display -->
    		<div class="navbar-header">
      			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        		<span class="sr-only">Toggle navigation</span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
      			</button>
      			<a class="navbar-brand" href="#" data-selector="nav a" style=""><img src="@logourl" alt="Logo" data-selector="img" style=""></a>
    		</div>

    		<!-- Collect the nav links, forms, and other content for toggling -->
    		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      			<ul class="nav navbar-nav navbar-right">

    		    @if(CurrentPage.Site().Id == CurrentPage.Id)
    		    {
    		        <li class="active"><a href="/" data-selector="nav a" style="">@CurrentPage.Site().Name</a></li>
    		    }
    		    else
    		    {
    		        <li><a href="/" data-selector="nav a" style="">@CurrentPage.Site().Name</a></li>
    		    }

        		@foreach(var site in CurrentPage.Site().Children("Unterseite"))
    		    {
    		        if(site.Id == CurrentPage.Id)
    		        {
    		            <li class="active"><a href="@site.Url" data-selector="nav a" style="">@site.Name</a></li>
    		        }
    		        else
    		        {
    		            <li><a href="@site.Url" data-selector="nav a" style="">@site.Name</a></li>
    		        }
    		    }
        			
      			</ul>
    		</div><!-- /.navbar-collapse -->
  			</div><!-- /.container -->
		</nav>
		
 		</div>
